.general {
  width: 100%;
  height: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
  overflow: hidden;
  background-color: var(--background-primary, #17181c);
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
}

.financeInput {
  width: 300px;
}

.financeGrid {
  width: 100%;
}

.loginGrid {
  width: 200px;
}

.studentBoardButton {
  width: 350px;
  height: 55px;
}