.general {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--background-primary, #ffffff);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.financeInput {
  width: 300px;
}

.financeGrid {
  width: 100%;
}

.loginGrid {
  width: 200px;
}

.studentBoardButton {
  width: 350px;
  height: 55px;
}